@import 'tailwindcss';

.navlink {
    @apply text-slate-600 dark:text-slate-100 font-bold;
}

.navlink:hover {
    @apply text-slate-400;
}

.navlinkActive {
    @apply text-sky-400 font-bold;
}

.header {
    @apply sticky top-0 flex justify-between items-center h-19 px-10 pb-5 pt-4 bg-white dark:bg-[#242424];
}

.sheet {
    @apply w-60 bg-white dark:bg-[#242424];
}

.sheetButton {
    @apply md:hidden dark:bg-gray-100;
}
